*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
}

.panel {
    background-size: auto 100%;
    height: 75vh;
    width: 8%;
    margin: 1em 2em;
    background-position: center;
    border-radius: 3em;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: flex 0.5s ease, transform 0.5s ease;
    transform: scale(1);
    will-change: flex, transform;
}

.panel.active{
    flex: 80%;
    transform: scale(1.1);
}